
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Helvetica Neue',Arial,sans-serif;


}
body{
    background-color:#050e1e;
}
#header{
    display:flex;
    align-items:center;
    height:80px;
    padding:0 32px;
    border-bottom:1px solid rgba(255,255,255,0.1);


}
.imgmenu{
    color:white;
     margin-right:20px;
    width:25px;
    height:auto;
    filter:invert(1);
}
.imgmenu1{
    height:100px;
    width:auto;
    margin-right:30px;
}
#header p{
    color:white;
    font-size:15px;
    white-space:nowrap;
    margin-right:15px;

}

.icon{
    filter:invert(1);
    width:10px;
    height:auto;
    margin-left:-8px;
    margin-right:20px;
   transform: rotate(90deg);
   opacity:0.6;
}
    
.searchicon{
    width:50px;
    height:auto;
    margin-left:5px;
    margin-top:5px;
    margin-right:20px;
    filter:invert(1);
}
#topsign{
    margin-left:400px;
    margin-right:20px;
    margin-bottom:50px;
    
}
.bodycontent{
    width:100%;
    padding:60px 72px;
}
.bodycontent .bodyheader{
    width:53%;
    display:flex;
    margin-bottom:55%;
    flex-direction: column;
}
.bodycontent .bodyheader h1{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 60px;
   font-weight:500;
   color:white;
   
}
.bodycontent .bodyheader h1 span{
    margin-left:130px;
    
}
.bodycontent .bodyheader p{
    margin-top:10px;
    color:white;
    max-width:480px;
    font-size:20px;

}
.cards{
    display:grid;
    grid-template-columns: 333px 333px 1fr;
    grid-template-rows: 500px 340px;
    gap:16px;
}
.cards>div{
   position:relative;
   overflow:hidden;
   padding:24px;
   display:flex;
   flex-direction: column;
   justify-content: flex-end;
   color:white;

}
.cards h3{
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
    position: relative;
    z-index: 2;
}

.cards p{
    font-size:22px;
    font-weight: 600;
    line-height:1.55;
    position: relative;
    z-index: 2
}
.cards p span{
    font-size:30px;
    text-decoration: none;
}
.cards1::before,
.card4::before{
    content:"";
    position: absolute;
    inset:0;
    background:linear-gradient(to bottom,transparent,rgba(0,0,0,0.65));
    z-index:0;
}
.cards1{
    background-image: url(leftimage1.jpeg);
    background-size: cover;
    background-position: center;
}
.cards2{
    background-image: url(leftimage2.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top:50px;
}
.cards3{
    background-image: url(leftimage3.png);
    background-size: cover;
    background-position: center;
    justify-content:flex-start ;
    padding:58px 32px;
    height:300px;
    margin-top:-260px;
}
.card4{
    background-image: url(leftimage4.png);
    background-size: cover;
    background-position: center;}


.card5{
    background-image: url(leftimage6.undefined);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-50px;
    margin-bottom: -50px;
}
.cards3 p{
    max-width: 460px;
    font-size:42px;
    line-height: 1.28;
    font-weight:400;
}
.cards3 button{
    position:absolute;
    z-index: 3;
    left:32px;
    bottom:32px;
    padding:14px 25px;
    border:none;
    background: white;
    font-size: 15px;
    cursor:pointer;
}
.card6 {
    background: #304554;
    padding:47px 48px;
    justify-content: flex-start;
    text-align: center;
    grid-column:3;
    grid-row:1;


}
.card6 p{
    font-size:25px;
    color:white;
    line-height:1.5;
    font-weight:400;
    margin-bottom: 16px;
}
.emailbox{
    position:relative;
    z-index:3;
    width:100%;
    height:49px;
    display:flex;
    background:#304554;
    grid-column:3;
    grid-row:1;
    align-self:center;
    margin-top:90px;
}
.email input{
    border:none;
    outline:none;
    padding:0 16px;
    font-size:15px;
    flex:1;
}
.emailbox button{
    border:none;
  width:49px;
    background-color:#0aa8e8;
    color:white;
    font-size:20px;
    cursor:pointer;
}
.divider {
    grid-column: 3;
    grid-row:1;
    align-self:center;
    margin-top:180px;
    width:100%;
    display: flex;
    align-items: center;
    gap: 22px;
}
.divider span{
    height:1px;
    background-color: white;
    flex:1;
}
.divider p{
   font-size: 18px;
   color:white;
   font-weight: 400;
}
.providers{
    grid-column: 3;
    grid-row: 1;
    align-self:end;
    margin-bottom: 50px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:16px;
}
.providers button{
    height:43px;
    background: transparent;
    border: 1px solid white;
    font-size:18px;
    cursor:pointer;
    color:white;
}
.providers button:hover{
    color:black;
    background-color: white;
}